---
import Badge from '@/components/ui/badge/Badge.astro'
import type { Project } from '@/constants/data'
import { cn } from '@/utils/class-name'
import { Icon } from 'astro-icon/components'

type Props = Project & {
	className?: string
}

const { image, title, description, tags, previewUrl, github, className } = Astro.props
---

<article
	class={cn('relative isolate flex flex-col gap-10 lg:gap-14 px-5 py-6 lg:flex-row', className)}
>
	<div class="lg:min-w-[35rem] lg:max-w-[35rem]">
		<img
			src={image}
			alt={title}
			class="aspect-video h-full w-full rounded border object-cover object-left-top shadow-md"
			loading="lazy"
		/>
	</div>
	<div class="flex flex-col gap-5">
		<div class="flex flex-col gap-3">
			<h3 class="text-md font-bold text-neutral-900">{title}</h3>
			<p class="text-base text-neutral-600">{description}</p>
		</div>
		<footer class="flex flex-1 flex-col gap-5">
			<div class="mb-auto flex flex-wrap gap-3">
				{
					tags.map((tag) => (
						<Badge className={tag.className}>
							<Icon name={tag.icon} /> {tag.name}
						</Badge>
					))
				}
			</div>
			<div class="flex gap-3">
				{
					github && (
						<a
							href={github}
							target="_blank"
							rel="noopener noreferrer"
							class="flex items-center gap-1 rounded border-2  border-neutral-900 bg-amber-200 px-3 py-0.5 text-xs shadow-sm"
						>
							<Icon name="github" class={'text-base'} /> Code
						</a>
					)
				}
				{
					previewUrl && (
						<a
							href={previewUrl}
							target="_blank"
							rel="noopener noreferrer"
							class="flex items-center gap-1 rounded border-2  border-neutral-900 bg-amber-200 px-3 py-0.5 text-xs shadow-sm"
						>
							<Icon name="link" class={'text-base'} /> Preview
						</a>
					)
				}
			</div>
		</footer>
	</div>
</article>

<style>
	article img {
		transition: transform 600ms;
	}

	article img:hover {
		transform: scale(1.05);
	}
</style>
