---
import Badge from '@/components/ui/badge/Badge.astro'
import type { Project } from '@/constants/data'
import { Icon } from 'astro-icon/components'

type Props = Project & {}

const { image, title, description, tags, previewUrl, github } = Astro.props
---

<article class="relative isolate rounded-md border-4 border-neutral-900 bg-white">
	<div class="relative flex h-full flex-col px-5 py-6">
		<div class="mb-4 max-h-56 min-h-56 overflow-hidden rounded border md:mb-5">
			<img src={image} alt={title} class="h-full w-full object-cover" loading="lazy" />
		</div>
		<div class="mb-4">
			<h3 class="text-md font-bold text-neutral-900">{title}</h3>
			<p class="text-base text-neutral-600">{description}</p>
		</div>
		<footer class="flex flex-1 flex-col gap-5">
			<div class="mb-auto flex flex-wrap gap-3">
				{
					tags.map((tag) => (
						<Badge className={tag.className}>
							<Icon name={tag.icon} /> {tag.name}
						</Badge>
					))
				}
			</div>
			<div class="flex justify-end gap-3">
				{
					github && (
						<a
							href={github}
							target="_blank"
							rel="noopener noreferrer"
							class="flex items-center gap-1 rounded border-2  border-neutral-900 bg-amber-200 px-3 py-0.5 text-xs shadow-sm"
						>
							<Icon name="github" class={'text-base'} /> Code
						</a>
					)
				}

				{
					previewUrl && (
						<a
							href={previewUrl}
							target="_blank"
							rel="noopener noreferrer"
							class="flex items-center gap-1 rounded border-2  border-neutral-900 bg-amber-200 px-3 py-0.5 text-xs shadow-sm"
						>
							<Icon name="link" class={'text-base'} /> Preview
						</a>
					)
				}
			</div>
		</footer>
	</div>
</article>

<style>
	article img {
		transition: transform 500ms;
	}

	article:hover img {
		transform: scale(1.1);
	}
</style>
