---
import Badge from '@/components/ui/badge/Badge.astro'
import type { Project } from '@/constants/data'
import { Icon } from 'astro-icon/components'

type Props = Project & {}

const { image, title, description, tags } = Astro.props
---

<article class="relative isolate rounded-md border-4 border-neutral-900 bg-white">
	<div class="relative flex flex-col px-5 py-6">
		<div class="mb-4 overflow-hidden rounded md:mb-5 md:max-h-56">
			<img src={image} alt={title} class="object-cover" loading="lazy" />
		</div>
		<div class="mb-4">
			<h3 class="text-xl font-bold text-neutral-900 md:text-2xl">{title}</h3>
			<p class="text-sm text-neutral-600 md:text-lg">{description}</p>
		</div>
		<footer class="flex flex-wrap gap-3">
			{
				tags.map((tag) => (
					<Badge className={tag.className}>
						<Icon name={tag.icon} /> {tag.name}
					</Badge>
				))
			}
		</footer>
	</div>
</article>

<style>
	article img {
		transition: transform 500ms;
	}

	article:hover img {
		transform: scale(1.1);
	}
</style>
